<?xml version="1.0" encoding="UTF-8"?>
<!-- beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 	http://www.springframework.org/schema/beans/spring-beans.xsd	
							http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context.xsd
							http://www.springframework.org/schema/tx 		http://www.springframework.org/schema/tx/spring-tx.xsd
							http://jax-ws.dev.java.net/spring/core    		http://jax-ws.dev.java.net/spring/core.xsd
							http://jax-ws.dev.java.net/spring/servlet  		http://jax-ws.dev.java.net/spring/servlet.xsd"-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 	http://www.springframework.org/schema/beans/spring-beans.xsd	
							http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context.xsd
							http://www.springframework.org/schema/tx 		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Ativa o uso de anotacoes complementares ao contexto do Spring. -->
	<context:annotation-config />

	<!-- Necessary to get the entity manager injected into the factory bean -->
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<!-- Entity Manager Factory -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="acendeApagaLEDsUnit"></property>
	</bean>
	<!-- Transaction Manager -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<!-- Detect @Transactional -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan base-package="br.com.cams7.sisbarc.aal.repository.impl" />
	<context:component-scan base-package="br.com.cams7.sisbarc.aal.service.impl" />
	<context:component-scan base-package="br.com.cams7.sisbarc.aal.controller" />

	<context:component-scan base-package="br.com.cams7.sisbarc.aal.faces.convert" />
	
	<!-- context:component-scan base-package="br.com.cams7.sisbarc.aal.ws" />

	<wss:binding url="/sayhello">
		<wss:service>
			<ws:service bean="#helloWS" />
		</wss:service>
	</wss:binding-->
</beans>