div.header {
	margin-top: 20px;
	padding-bottom: 20px;
}

div.logo {
	float: left;
	width: 158px;
	height: 71px;
	padding-right: 20px;
}

div.menu_aal {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	width: 80%;
	float: left;
}